<p>
<%= @municipality.name %>
</p>
<p>
<%= image_tag @municipality.header_url %>
</p>

<%= link_to 'Home', root_path %>
<%= link_to 'Destroy', municipality_path(@municipality),
  method: :delete, data: { confirm: 'Are you sure?' } %>
